# Bonus: Temperature Analysis I

In [184]:
import pandas as pd
from datetime import datetime as dt

In [185]:
# "tobs" is "temperature observations"
df = pd.read_csv('Resources/hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [186]:
print(df.dtypes)

station     object
date        object
prcp       float64
tobs         int64
dtype: object

In [166]:
# Convert the date column format from string to datetime
df['date'] = pd.to_datetime(df['date'],format='%Y-%m-%d')
df

print (df.dtypes)

station            object
date       datetime64[ns]
prcp              float64
tobs                int64
dtype: object

In [167]:
# Set the date column as the DataFrame index
date_index_df = df.set_index(['date'], drop=False)
date_index_df

                station       date  prcp  tobs
date
2010-01-01  USC00519397 2010-01-01  0.08    65
2010-01-02  USC00519397 2010-01-02  0.00    63
2010-01-03  USC00519397 2010-01-03  0.00    74
2010-01-04  USC00519397 2010-01-04  0.00    76
2010-01-06  USC00519397 2010-01-06   NaN    73
...                 ...        ...   ...   ...
2017-08-19  USC00516128 2017-08-19  0.09    71
2017-08-20  USC00516128 2017-08-20   NaN    78
2017-08-21  USC00516128 2017-08-21  0.56    76
2017-08-22  USC00516128 2017-08-22  0.50    76
2017-08-23  USC00516128 2017-08-23  0.45    76

[19550 rows x 4 columns]

In [168]:
# Drop the date column
dropped_data_df = date_index_df.drop('date',1)
dropped_data_df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73
...                 ...   ...   ...
2017-08-19  USC00516128  0.09    71
2017-08-20  USC00516128   NaN    78
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[19550 rows x 3 columns]

### Compare June and December data across all years

In [169]:
from scipy import stats

In [170]:
# june_df = dropped_data_df.filter(like = '-06-', axis=0).groupby('date').mean()
# june_df['tobs'] = round(june_df['tobs'],1)
# june_df

In [171]:
june_df = df[df['date'].dt.month == 6] 
#june_df.count()
june_df

           station       date  prcp  tobs
133    USC00519397 2010-06-01  0.00    78
134    USC00519397 2010-06-02  0.01    76
135    USC00519397 2010-06-03  0.00    78
136    USC00519397 2010-06-04  0.00    76
137    USC00519397 2010-06-05  0.00    77
...            ...        ...   ...   ...
19492  USC00516128 2017-06-26  0.02    79
19493  USC00516128 2017-06-27  0.10    74
19494  USC00516128 2017-06-28  0.02    74
19495  USC00516128 2017-06-29  0.04    76
19496  USC00516128 2017-06-30  0.20    75

[1700 rows x 4 columns]

In [172]:
grouped_june_df = june_df.groupby('date').mean()
grouped_june_df

                prcp       tobs
date
2010-06-01  0.018750  73.555556
2010-06-02  0.007778  74.555556
2010-06-03  0.026667  74.444444
2010-06-04  0.001111  72.888889
2010-06-05  0.011250  76.000000
...              ...        ...
2017-06-26  0.020000  79.000000
2017-06-27  0.018333  78.000000
2017-06-28  0.005000  77.666667
2017-06-29  0.011667  77.142857
2017-06-30  0.074286  75.714286

[240 rows x 2 columns]

In [173]:
# Identify the average temperature for June 
june_avg_temp = grouped_june_df['tobs'].mean()
june_avg_temp
print(f"Average temperature of June for all stations and all years is {round(june_avg_temp,2)} F")

Average temperature of June for all stations and all years is 75.01 F

In [174]:
# december_df = dropped_data_df.filter(like = '-12-', axis=0).groupby('date').mean()
# december_df['tobs'] = round(december_df['tobs'],1)
# december_df

In [175]:
# Filter data for desired months
december_df =df[df['date'].dt.month == 12]
#december_df.count()
december_df

           station       date  prcp  tobs
305    USC00519397 2010-12-01  0.04    76
306    USC00519397 2010-12-03  0.00    74
307    USC00519397 2010-12-04  0.00    74
308    USC00519397 2010-12-06  0.00    64
309    USC00519397 2010-12-07  0.00    64
...            ...        ...   ...   ...
19323  USC00516128 2016-12-27  0.14    71
19324  USC00516128 2016-12-28  0.14    71
19325  USC00516128 2016-12-29  1.03    69
19326  USC00516128 2016-12-30  2.37    65
19327  USC00516128 2016-12-31  0.90    65

[1517 rows x 4 columns]

In [176]:
grouped_december_df = december_df.groupby('date').mean()
grouped_december_df

                prcp       tobs
date
2010-12-01  0.565000  73.125000
2010-12-02  0.115714  72.500000
2010-12-03  0.405000  71.875000
2010-12-04  0.027143  74.857143
2010-12-05  0.000000  71.285714
...              ...        ...
2016-12-27  0.040000  73.000000
2016-12-28  0.068333  71.571429
2016-12-29  0.396667  72.714286
2016-12-30  0.558333  69.000000
2016-12-31  0.428000  68.200000

[217 rows x 2 columns]

In [177]:
# Identify the average temperature for December
december_avg_temp = grouped_december_df['tobs'].mean()
december_avg_temp 
print(f"Average temperature of December for all stations and all years is {round(december_avg_temp,2)} F")

Average temperature of December for all stations and all years is 71.11 F

In [178]:
# december_temp_stats= december_index_df['tobs'].agg(['mean','min','max'])
# december_temp_stats

In [179]:
# Create collections of temperature data
june_temp = grouped_june_df['tobs']
december_temp = grouped_december_df['tobs']

In [180]:
june_temp.count()

240

In [181]:
december_temp.count()

217

In [182]:
# Run paired t-test
# Run a t-test between the June temps and Dec temps
stats.ttest_ind(june_temp, december_temp)

Ttest_indResult(statistic=19.320515481847366, pvalue=3.602668975563456e-61)

In [183]:
#tried _rel yet doesn't work due to equal sample size 
# stats.ttest_rel(june_temp, december_temp)

### Analysis

### Use the t-test to determine whether the difference in the means, if any, is statistically significant. Will you use a paired t-test, or an unpaired t-test? Why?

I would argue that an unpaired t-test would be a better approach to run a t-test in this sample. 
both paired and unpaired would work for this sample under the certain circumstances. When considering an unpaired t-test, it is to compare the mean between two independent groups: June an December. Plus, having high t-score and very low p-value indicate the relationship between those two groups is statistically significant. I assume that if we're comparing the mean of a specific month between two separate years, I would say we could use the paired t-test with the same sample size.